.login_form .hr {
  margin: 15px 0;
  color: #ff2832;
}

.login_form .social {
  /* display: flex; */
  /* align-items: center; */
}

.login_form .social button {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  font-size: 14px;
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  box-shadow: 0 2px 4px #777;
  display: flex;
  align-items: center;
  text-align: center !important;
}
