/*

		.sliderSolumobil {
            max-width: 1000px;
            width: 90%;
            margin: 15px auto;
            background: #ececec;
            border-radius: 5px;
            padding: 20px 0;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

          }

          .slick-slider button {
            display: none !important;
          }

          .slick-slide {
            color: #333;
            padding: 40px 0;
            font-size: 1.25em;
            font-family: "Verdana";
            text-align: center;
            pointer-events: none;
          }

          .slick-slide .desc {
            opacity: 0;
          }

          .slick-slide .desc > * {
            transition: all 900ms ease;
          }

          .slick-slide .desc h2 {
            position: relative;
            left: 50px;
            line-height: 1;
          }

          .slick-slide .desc p {
            position: relative;
            top: 50px;
            opacity: 0;
          }

          .slick-slide img {
            width: 100%;
          }

          .slick-prev:before,
          .slick-next:before {
            color: black;
          }

          .slick-dots {
            text-align: center;
          }

          .slick-dots li {
            display: inline-block;
            padding: 1px;
            background: #ccc;
            margin: 10px 5px;
            width: 40px;
            height: 5px;
          }

          .slick-dots li.slick-active {
            background: #18c495;
          }

          .slick-dots button {
            display: none;
          }

          .slick-slide:nth-child(odd) {
            /* background: blue;
          }

          .slick-slide {
            opacity: 0.2;
            transition: all 300ms ease;
          }

          .slick-current {
            opacity: 1;
            transform: scale(1.1);
          }

          .slick-current .desc {
            opacity: 1;
          }

          .slick-current .desc h2 {
            left: 0;
          }

          .slick-current .desc p {
            top: 0;
            opacity: 1;
          }

          .btnCarousel {
            border-radius: 30px;
            padding: 10px 20px;
            border: 4px solid #18c495;
            text-decoration: none;
            color: #18c495;
            font-size: .6em;
            text-transform: uppercase;
            display: block;
            margin: 30px auto 0;
            max-width: 100px;
            width: 100%;
            font-weight: bold;
            pointer-events: initial;
          } */

.itemCard {
  position: relative;
  /* display: table-cell; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 240px;
  height: 340px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
}

.itemCard .img-box {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 1s;
}

.itemCard .img-box img {
  display: block;
  width: 100%;
  margin: 0 auto 0;
  transition: 1s;
}

.detailsItem {
  position: absolute;
  bottom: -15%;
  width: 100%;
  background: #fff;
  padding: 10px;
  padding-top: 3% !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: 1s;
}

.detailsItem h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  width: 100%;
  font-size: 16px;
}

.detailsItem h2 span {
  font-size: 12px;
  color: #bbb;
  font-weight: normal;
}

.detailsItem .price {
  position: absolute;
  top: 0;
  right: 25px;
  font-weight: bold;
  font-size: 20px;
}

label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}

.cardListProduct  {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
}

.cardListProduct  li {
  list-style: none;
  margin: 5px 5px 0;
  font-size: 12px;
  font-weight: normal;
  color: #bbb;
  transition: 0.7s;
}

.cardListProduct  li:hover {
  cursor: pointer;
  color: #333;
  transition: 0.7s;
}

.cardListProduct  li:first-child {
  margin-left: 0;
}

.colors li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.colors li:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.colors li:nth-child(1) {
  background: #1c0779;
}

.colors li:nth-child(2) {
  background: #ffffff;
}

.colors li:nth-child(3) {
  background: #b31111;
}

.btnItemBuy {
  display: block !important;
  padding: 5px !important;
  color: #fff;
  margin: 15px 0 0 !important;
  background: #333 !important;
  text-align: center !important;
  text-decoration: none !important;
  border-radius: 5px !important;
  transition: 1s !important;
}

.btnItemBuy:hover {
  color: white;
  background: #FF2832 !important;
  border: white 0.5px solid;
  transition: 1s !important;
}

.itemCard:hover .detailsItem {
  overflow: visible;
  bottom: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.itemCard:hover .img-box {
  position: absolute;
  bottom: 60px;
  transition: 3s;
}

.itemCard:hover h2,
.itemCard:hover .price {
  padding-top: 20px;
  padding-bottom: 0;
}
