.cart-rubber-signal {
  display: flex;
  align-items: center;
  text-align: center;
  width: 73px;
  height: 80px;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.22);
  bottom: 85px;
  right: 0px;
  z-index: 500;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  border-style: black 13px double;
  background-clip: content-box;
}

.cart-rubber-signal:hover {
  width: 83px;
}

.cart-rubber-badge {
  font-size: 0.8rem;
  z-index: 3000;
  background-color: #5271ff;
  left: 64%;
  top: 6%;
}

.cart_rubber_icon {
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}

.cart-rubber-signal .cart_rubber_icon:hover {
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
