/* SCROLL */
html {
  scroll-behavior: smooth;
}
/* SCROLL */

/* BUTTONS */
.btn-purple {
  background-color: #c671db;
  color: white;
}

.btn-purple:hover {
  background-color: #d185e4;
  color: white;
}
/* END BUTTONS */

/* COLORS */
.hover-blue:hover{
  color: rgb(81, 113, 254) !important;
}

.text-blue {
  color: #6f71c4 !important;
}

.text-blue:hover {
  color: #5456c4 !important;
}

.solumobil-red {
  color: #ff2832 !important;
}

.bg-solumobil-red {
  background-color: #ff2832 !important;
}
/* END COLORS */

/* WIDTH */
.w-40 {
  width: 40% !important;
}
/* END WIDTH */

/* TOOLTIP */
abbr[title]:after {
  content: " (" attr(title) ")";
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
abbr[title]:after {
  content: " (" attr(title) ")";
}
abbr[data-original-title],
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
/* END TOOLTIP */

/* TEXT COLOR */
.text-gold {
  color: #efb810;
}
/* END TEXT COLOR */

/* SHADOW */
.shw-btm {
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
/* END SHADOW */

/* MATERIAL-UI BTNS */
.MuiFab-sizeSmall {
  width: 23px !important;
  height: 23px !important;
}

.MuiFab-root {
  min-height: 26px !important;
}

.MuiSvgIcon-root {
  font-size: 1rem !important;
}
/* END MATERIAL-UI BTNS */

.cursor-pointer {
  cursor: pointer;
}

.hover-white:hover {
  color: white;
}

.hover-red:hover {
  color: #fe2832;
}

.text-sm-sm {
  font-size: 0.7rem !important;
}

/* img{
  object-fit: cover !important;
  object-position: 0 30% !important;
} */
.img-resp {
  object-fit: cover;
  object-position: 0 30%;
}

.obj-fit-cover {
  object-fit: cover !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CUSTOM SELECT */
.chosen-container,
.fix-input,
.fix-textarea {
  border: gray 1px solid !important;
  box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.4) !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-96 {
  width: 96% !important;
}

.w-97 {
  width: 97% !important;
}

.w-98 {
  width: 98% !important;
}

.w-99 {
  width: 99% !important;
}

/* ---------- ECOMMERCE TEMPLATE ------------ */
@import url("./tmpl.css");

/* ---------- LOADING ------------ */
@import url("./loading.css");

/* ---------- PRODUCT ------------ */
@import url("./products.css");

/* ---------- PROFILE ------------ */
@import url("./profile.css");

/* ---------- CAROUSEL ------------ */
@import url("./carousel.css");

/* ---------- RIBBON ------------ */
@import url("./ribbon.css");

/* ---------- PRODUCTS MANAGER ------------ */
@import url("./products_manager.css");

/* ---------- AUTH ------------ */
@import url("./auth.css");

/* ---------- SHOP ------------ */
@import url("./shop.css");

/* ---------- CART SIGNAL ------------ */
@import url("./cart-signal.css");

/* ---------- BTN INSIDE IMG ------------ */
@import url("./btn_inside_img.css");

/* ---------- DESC PRODUCT CARD ------------ */
@import url("./productCards/modernProductCard.css");

/* ---------- DESC BLOG HBDSOFIARD ------------ */
@import url("./blog/hbdsofiard.css");
