.loading {
  background-color: #0008;
  color: white;
  top: 0;
  left: 0;
  z-index: 9;

  /* Centrado vertical */
  align-items: center;
  display: flex;

  /* Alineado de elementos central */
  justify-content: center;
}

.loading svg {
  /* FORMATEADO DE TEXTO */
  font-size: 5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* FIN FORMATEADO DE TEXTO */

  animation: text 1s ease-in-out infinite; /* Animación infinita del texto color blanco*/
}

@keyframes text {
  50% {
    opacity: 0.1;
  }
}

.loading polygon {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate-reverse;
}

@keyframes dash{
    to{
        stroke-dashoffset: 234;
    }
}
