.img-up .file_img {
  position: relative;
  width: 25%;
  height: 100px;
  cursor: pointer;
}

.img-up .file_img:nth-of-type(1) {
  width: 100%;
  height: 400px;
}

.img-up .file_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img-up .file_img span {
  position: absolute;
  top: -2%;
  right: -2px;
  z-index: 4;
  background: white;
  color: crimson;
  padding: 3px 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  font-size: 10px;
  font-weight: bolder;
  border: 1px solid crimson;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) !important;
}
