.profile_page .avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.profile_page .avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Cambiar foto */
.profile_page .avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff8;
  text-align: center;
  font-weight: 550;
  font-size: 2.037vh;
  padding-top: 5%;
  color: #ff2832;
  transition: 0.3 ease-in-out;
  -webkit-transition: 0.3 ease-in-out;
  -moz-transition: 0.3 ease-in-out;
  -ms-transition: 0.3 ease-in-out;
  -o-transition: 0.3 ease-in-out;
}

.profile_page .avatar:hover span {
  bottom: -50%;
}

.profile_page #profilePicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

::-webkit-file-upload-button {
  cursor: pointer;
}
