/* [class^="ribbon-"] {
  position: relative;
  margin-bottom: 80px;
}
[class^="ribbon-"]:before,
[class^="ribbon-"]:after {
  content: "";
  position: absolute;
}

.ribbon-1 {
  width: 60px;
  height: 100px;
  background: #ee583a;
  top: -6px;
  left: 25px;
}
.ribbon-1:before {
  height: 0;
  width: 0;
  border-bottom: 6px solid #ca3011;
  border-right: 6px solid transparent;
  right: -6px;
}
.ribbon-1:after {
  height: 0;
  width: 0;
  border-left: 30px solid #ee583a;
  border-right: 30px solid #ee583a;
  border-bottom: 30px solid transparent;
  bottom: -30px;
}

.ribbon-2 {
  width: 35px;
  height: 13px;
  background: #21749a;
  left: -8px;
}

.ribbon-2:before {
  height: 0;
  width: 0;
  border-bottom: 4px solid #14455b;
  border-left: 4px solid transparent;
  top: -4px;
}
.ribbon-2:after {
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 5px solid #21749a;
  right: -5px;
}

.ribbon-3,
.ribbon-4 {
  width: 420px;
  height: 50px;
  margin-left: -10px;
  margin-right: -10px;
  background: #efb23b;
}
.ribbon-3:before,
.ribbon-4:before {
  height: 0;
  width: 0;
  border-top: 10px solid #cd8d11;
  border-left: 10px solid transparent;
  bottom: -10px;
}
.ribbon-3:after,
.ribbon-4:after {
  height: 0;
  width: 0;
  border-top: 10px solid #cd8d11;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}

.ribbon-4:before {
  height: 0;
  width: 0;
  border-width: 20px 20px;
  border-style: solid;
  border-color: #31a5b3 #31a5b3 #31a5b3 transparent;
  top: 20px;
  left: -30px;
}
.ribbon-4:after {
  height: 0;
  width: 0;
  border-width: 20px 20px;
  border-style: solid;
  border-color: #31a5b3 transparent #31a5b3 #31a5b3;
  top: 20px;
  right: -30px;
}

.ribbon-content {
  height: inherit;
  margin-bottom: 0;
  background: #37b7c7;
  z-index: 100;
}
.ribbon-content:before {
  height: 0;
  width: 0;
  border-top: 4px solid #26808b;
  border-left: 4px solid transparent;
  bottom: -4px;
}
.ribbon-content:after {
  height: 0;
  width: 0;
  border-top: 4px solid #26808b;
  border-right: 4px solid transparent;
  right: 0;
  bottom: -4px;
} */

/* DOS */

/* The ribbons */

.corner-ribbon {
  width: 100px;
  background: #e43;
  position: relative;
  top: 10px;
  left: -25px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky {
  position: inherit;
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Different positions */

.corner-ribbon.top-left {
  top: 15px;
  left: -25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left {
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white {
  background: #f0f0f0;
  color: #555;
}
.corner-ribbon.black {
  background: #333;
}
.corner-ribbon.grey {
  background: #999;
}
.corner-ribbon.blue {
  background: #39d;
}
.corner-ribbon.green {
  background: #2c7;
}
.corner-ribbon.turquoise {
  background: #1b9;
}
.corner-ribbon.purple {
  background: #95b;
}
.corner-ribbon.red {
  background: #e43;
}
.corner-ribbon.orange {
  background: #e82;
}
.corner-ribbon.yellow {
  background: #ec0;
}
