/* .shop_card {
  position: relative;
  width: 200px;
  height: 300px;
  background: #122936;
  border-radius: 20px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.shop_card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #2196f3;
  transform: skewY(345deg);
  transition: 0.5s;
  -webkit-transform: skewY(345deg);
  -moz-transform: skewY(345deg);
  -ms-transform: skewY(345deg);
  -o-transform: skewY(345deg);
}

.shop_card:hover::before {
  top: -60%;
  transform: skewY(390deg);
  -webkit-transform: skewY(390deg);
  -moz-transform: skewY(390deg);
  -ms-transform: skewY(390deg);
  -o-transform: skewY(390deg);
}

.shop_card::after {
  content: "Urban";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.1);
}

.shop_card .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.shop_card .imgBx img {
  max-width: 90%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.shop_card:hover .imgBx img {
  max-width: 70%;
}

.shop_card .contextBx {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.shop_card .contextBx h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.shop_card .contextBx .price {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.shop_card .contextBx .buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  background: #2196f3;
  border-radius: 30px;
  text-decoration: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.shop_card .contextBx .buy {
  top: 0;
  opacity: 1;
} */


  /* .shop_card {
    width: 200px;
    height: 350px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
    -webkit-transition: box-shadow 0.5s, transform 0.5s;
    -moz-transition: box-shadow 0.5s, transform 0.5s;
    -ms-transition: box-shadow 0.5s, transform 0.5s;
    -o-transition: box-shadow 0.5s, transform 0.5s;
}
  .shop_card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
  .shop_card .container {
    width: 100%;
    height: 100%;
  }
  .shop_card .container .top {
    height: 80%;
    width: 100%;
    background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
  .shop_card .container .bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
  .shop_card .container .bottom.clicked {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  .shop_card .container .bottom h1 {
    margin: 0;
    padding: 0;
  }
  .shop_card .container .bottom p {
    margin: 0;
    padding: 0;
  }
  .shop_card .container .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
  }
  .shop_card .container .bottom .left .details {
    padding: 20px;
    float: left;
    width: calc(70% - 40px);
  }
  .shop_card .container .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
}
  .shop_card .container .bottom .left .buy i {
    font-size: 30px;
    padding: 30px;
    color: #254053;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
  .shop_card .container .bottom .left .buy:hover {
    background: #A6CDDE;
  }
  .shop_card .container .bottom .left .buy:hover i {
    transform: translateY(5px);
    color: #00394B;
  }
  .shop_card .container .bottom .right {
    width: 50%;
    background: #A6CDDE;
    color: white;
    float: right;
    height: 200%;
    overflow: hidden;
  }
  .shop_card .container .bottom .right .details {
    padding: 20px;
    float: right;
    width: calc(70% - 40px);
  }
  .shop_card .container .bottom .right .done {
    width: calc(30% - 2px);
    float: left;
    transition: transform 0.5s;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
  }
  .shop_card .container .bottom .right .done i {
    font-size: 30px;
    padding: 30px;
    color: white;
  }
  .shop_card .container .bottom .right .remove {
    width: calc(30% - 1px);
    clear: both;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
    background: #BC3B59;
    transition: transform 0.5s, background 0.5s;
  }
  .shop_card .container .bottom .right .remove:hover {
    background: #9B2847;
  }
  .shop_card .container .bottom .right .remove:hover i {
    transform: translateY(5px);
  }
  .shop_card .container .bottom .right .remove i {
    transition: transform 0.5s;
    font-size: 30px;
    padding: 30px;
    color: white;
  }
  .shop_card .container .bottom .right:hover .remove, .shop_card .container .bottom .right:hover .done {
    transform: translateY(-100%);
  }
  .shop_card .inside {
    z-index: 9;
    background: #92879B;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
  }
  .shop_card .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
  }
  .shop_card .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
  }
  .shop_card .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
  }
  .shop_card .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
  .shop_card .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
  }
  .shop_card .inside .contents table {
    text-align: left;
    width: 100%;
  }
  .shop_card .inside .contents h1, .shop_card .inside .contents p, .shop_card .inside .contents table {
    color: white;
  }
  .shop_card .inside .contents p {
    font-size: 13px;
  } */